{% include partials/header.html %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Local Chairs</h1>

    <div class="row d-flex justify-content-center">
        {% assign total_people = site.data.organisers.size %}
        {% assign people_in_last_row = total_people % 4 %}

        {% for person in site.data.organisers %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card shadow-sm text-center h-100">
                {% if person.website %}
                <a href="{{ person.website }}" target="_blank" rel="noopener noreferrer">
                    <img src="{{ person.photo | relative_url }}" class="card-img-top img-fluid" alt="{{ person.name }}">
                </a>
                {% else %}
                <img src="{{ person.photo | relative_url }}" class="card-img-top img-fluid" alt="{{ person.name }}">
                {% endif %}

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ person.name }}</h5>
                    {% if person.role %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ person.role }}</h6>
                    {% endif %}
                    <p class="card-text text-muted flex-grow-1">{{ person.affiliation }}</p>

                    {% if person.website %}
                    <a href="{{ person.website }}" class="btn btn-primary mt-auto" target="_blank">Visit Website</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include partials/footer.html %}
